@charset "UTF-8";
/* 回答はここから */
.inline--box {
  display: inline-block;
  width: 200px;
  padding: 20px 0;
  font-size: 16px;
  background-color: #fff;
}

.align--box {
  text-align: center;
}

.align--text {
  display: inline-block;
  padding: 10px;
  background: #a4b3e9;
  width: 90px;
}

.margin--text {
  text-align: center;
  margin: 0 auto;
  width: 90px;
  padding: 10px;
  background: #a4b3e9;
}

.d--cell {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.q1--perimeter2 {
  width: 250px;
  height: 150px;
  margin: 0 auto 20px;
  background-color: #a4e4f1;
  display: table;
}

.table--text {
  padding: 10px;
  background-color: #fff;
  display: table;
    vertical-align: middle;
    margin:0 auto;
}

.q1--perimeter3 {
  width: 250px;
  height: 150px;
  margin: 0 auto 20px;
  background-color: #a4e4f1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.d--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--text {
  padding: 10px;
  background-color: #fff;
}

.p--relative {
  position: relative;
}

.p--absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #a4b3e9;
}
